[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
mlflow = "==1.23.1"
boto3 = "*"

[requires]
python_version = "3.7"
